.env
.venv
commands.md
commands_scalable.md
.logfire
/.vscode
__pycache__/
resume_points.txt
*.py[cod]
*$py.class
**/__init__.py
.deepeval
hf_embeddings_migration.md
terraform/terraform.tfvarsterraform/terraform.tfvars
.pytest_cache
