fastapi
uvicorn
python-dotenv
python-multipart    
requests
streamlit
numpy
pytz
nest-asyncio
google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine
google-cloud-documentai
cloud-sql-python-connector
qdrant-client
flashrank
redis
redisvl
sqlalchemy
pg8000
psycopg[binary]
psycopg_pool
langchain
langgraph
langgraph-checkpoint-postgres
langchain-groq
langchain-google-vertexai
langchain-community
langchain-openai
pydantic>=2.0.0
python-pptx
python-docx
pypdf
beautifulsoup4

#=== Observability ====
langsmith
logfire
logfire[fastapi]
logfire[requests]
loguru

# === Guardrails =====
nemoguardrails[nvidia]
langchain-nvidia-ai-endpoints

# === Gateways ====
portkey_ai

