fastapi
uvicorn
python-dotenv
requests
streamlit
numpy
pytz
nest-asyncio
google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine
google-cloud-documentai
cloud-sql-python-connector
qdrant-client
flashrank
redis
sqlalchemy
pg8000
langchain
langgraph
langchain-groq
langchain-google-vertexai
langchain-community
langchain-openai
pydantic>=2.0.0
python-pptx
python-docx
pypdf
beautifulsoup4

#=== Observability ====
langsmith
logfire
logfire[fastapi]
logfire[requests]
loguru

# === Guardrails =====
nemoguardrails[nvidia]
langchain-nvidia-ai-endpoints
